<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= userInfo.name %> | IshqBook
    </title>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>

    <div class="profile">

        <!-- COVER -->
        <!-- COVER -->
        <div class="cover">

            <img src="<%= userInfo.coverPhoto.url || '/image/cover.jpeg' %>" class="cover-img">

            <% if(isOwnProfile){ %>
                <div class="camera-btn cover-camera" onclick="toggleMenu('coverMenu')">
                    📷
                </div>

                <div class="img-menu" id="coverMenu">

                    <button onclick="uploadCover()">
                        Upload
                    </button>
                    <input type="file" id="coverInput" accept="image/*" hidden>

                    <% if(userInfo.coverPhoto.url){ %>
                        <button onclick="deleteCover()">
                            Delete
                        </button>
                        <% } else { %>
                            <button disabled>
                                Delete
                            </button>
                            <% } %>

                </div>
                <% } %>

        </div>

        <div class="profile-header">

            <div class="profile-left">

                <div class="profile-pic-wrapper">

                    <img src="<%= userInfo.profilePic.url || '/image/profile.png' %>" class="profile-pic">

                    <% if(isOwnProfile){ %>
                        <div class="camera-btn profile-camera" onclick="toggleMenu('profileMenu')">
                            📷
                        </div>

                        <div class="img-menu" id="profileMenu">

                            <button onclick="uploadProfile()">
                                Upload
                            </button>
                            <input type="file" id="profileInput" accept="image/*" hidden>
                            <% if(userInfo.profilePic.url){ %>
                                <button onclick="deleteProfile()">Delete</button>
                                <% } else { %>
                                    <button disabled>Delete</button>
                                    <% } %>

                        </div>
                        <% } %>

                </div>

                <div class="profile-details">
                    <h2>
                        <%= userInfo.name %>
                    </h2>
                    <p>
                        <%= friendCount %> Friends
                    </p>
                </div>

            </div>

            <div class="profile-right">

                <% if(isOwnProfile){ %>

                    <button class="add">Edit Profile</button>

                    <% } else { %>
                        <% if(!friendship){ %>

                            <button data-id="<%= userInfo._id %>" class="add"
                                onclick="sendrequest('<%= userInfo._id %>')">
                                ➕ Add Friend
                            </button>

                            <% } else if(friendship.status==="pending" ){ %>

                                <% if(friendship.sender.toString()===currentUserId.toString()){ %>

                                    <button data-id="<%= userInfo._id %>" class="requested-btn"
                                        onclick="cancelRequest('<%= userInfo._id %>')">

                                        <span class="default-text">⏳ Requested</span>
                                        <span class="hover-text">Cancel Request</span>

                                    </button>

                                    <% } else if(friendship.receiver.toString()===currentUserId.toString()){ %>

                                        <button class="accept" onclick="acceptrequest('<%= userInfo._id %>')">

                                            ✅ Accept

                                        </button>

                                        <% } %>

                                            <% } else if(friendship.status==="accepted" ){ %>

                                                <button class="friends">
                                                    ✓ Friends
                                                </button>

                                                <button class="msg">
                                                    💬 Message
                                                </button>

                                                <% } %>
                                                    <% } %>


            </div>

        </div>

        <!-- INFO -->
        <div class="card">
            <p><b>Friends:</b>
                <%= friendCount %>
            </p>
        </div>

        <!-- TABS -->
        <div class="tabs">
            <button class="active" onclick="showSection('all', this)">All</button>
            <button onclick="showSection('about', this)">About</button>
            <button onclick="showSection('friends', this)">Friends</button>
            <button onclick="showSection('photos', this)">Photos</button>
            <button onclick="showSection('reels', this)">Reels</button>
        </div>

        <div class="content">

            <div id="all" class="section">
                <%- include('all') %>
            </div>

            <div id="about" class="section" style="display:none;">
                <%- include('about') %>
            </div>

            <div id="friends" class="section" style="display:none;">
                <%- include('friends') %>
            </div>

            <div id="photos" class="section" style="display:none;">
                <%- include('photos') %>
            </div>

            <div id="reels" class="section" style="display:none;">
                <%- include('reels') %>
            </div>

        </div>

    </div>
</body>
<script>
    function showSection(id, el) {
        document.querySelectorAll('.section').forEach(s => s.style.display = 'none');
        document.getElementById(id).style.display = 'block';

        document.querySelectorAll('.tabs button').forEach(b => b.classList.remove('active'));
        el.classList.add('active');
    }
    async function sendrequest(id) {
        try {
            const res = await fetch(`/home/send-request/${id}`, {
                method: "POST"
            });

            const data = await res.json();

            if (data.status) {
                const btn = document.querySelector(`button[data-id="${id}"]`);

                btn.className = "requested-btn";
                btn.innerHTML = `
                <span class="default-text">⏳ Requested</span>
                <span class="hover-text">Cancel Request</span>
            `;

                btn.setAttribute("onclick", `cancelRequest('${id}')`);
            }

        } catch (error) {
            console.log(error);
        }
    }


    async function cancelRequest(id) {
        try {
            const res = await fetch(`/home/cancel-request/${id}`, {
                method: "DELETE"
            });

            const data = await res.json();

            if (data.status) {
                const btn = document.querySelector(`button[data-id="${id}"]`);

                btn.className = "add";
                btn.innerHTML = "➕ Add Friend";

                btn.setAttribute("onclick", `sendrequest('${id}')`);
            }

        } catch (error) {
            console.log(error);
        }
    }


    async function acceptrequest(id) {
        try {
            const res = await fetch(`/home/accept-request/${id}`, {
                method: "PATCH"
            });

            const data = await res.json();

            if (data.status) {

                // page reload
                location.reload();

            }

        } catch (error) {
            console.log(error);
        }
    }

    function profile(id) {
        window.location.href = `/home/profile/${id}`;
    }

    function toggleMenu(id) {

        document.querySelectorAll('.img-menu').forEach(menu => {
            if (menu.id !== id) {
                menu.style.display = 'none';
            }
        });

        const menu = document.getElementById(id);

        menu.style.display =
            menu.style.display === "block"
                ? "none"
                : "block";
    }

    window.onclick = function (e) {

        if (!e.target.closest('.camera-btn') &&
            !e.target.closest('.img-menu')) {

            document.querySelectorAll('.img-menu')
                .forEach(menu => {
                    menu.style.display = 'none';
                });
        }
    }

    /* Upload */

    function uploadCover() {
        const input = document.getElementById("coverInput");
        if (input) input.click();
    }

    function uploadProfile() {
        const input = document.getElementById("profileInput");
        if (input) input.click();
    }

    const coverInput = document.getElementById("coverInput");

    if (coverInput) {
        coverInput.addEventListener("change", async function () {

            const file = this.files[0];
            if (!file) return;

            const formData = new FormData();
            formData.append("coverPhoto", file);

            const res = await fetch("/home/profile/upload-cover", {
                method: "PATCH",
                body: formData
            });

            const data = await res.json();

            if (data.status) {
                location.reload();
            }
        });
    }

    const profileInput = document.getElementById("profileInput");

    if (profileInput) {
        profileInput.addEventListener("change", async function () {

            const file = this.files[0];
            if (!file) return;

            const formData = new FormData();
            formData.append("profilePic", file);

            const res = await fetch("/home/profile/upload-profile", {
                method: "PATCH",
                body: formData
            });

            const data = await res.json();

            if (data.status) {
                location.reload();
            }
        });
    }
    /* Delete */

    async function deleteCover() {

        if (!confirm("Delete Cover Photo ?")) return;

        try {

            const res = await fetch("/home/profile/delete-cover", {
                method: "DELETE"
            });

            const data = await res.json();

            if (data.status) {
                location.reload();
            }

        } catch (error) {
            console.log(error);
        }
    }

    async function deleteProfile() {

        if (!confirm("Delete Profile Photo ?")) return;

        try {

            const res = await fetch("/home/profile/delete-profile", {
                method: "DELETE"
            });

            const data = await res.json();

            if (data.status) {
                location.reload();
            }

        } catch (error) {
            console.log(error);
        }
    }

</script>

</html>